{% extends 'home/home.html' %}

{% import 'ui/home_page.html' as pg %}

{% block css %}
    <style>
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-right: 3px;
            padding-left: 3px;
        }
    </style>
{% endblock %}


{% block content %}
    {% include 'home/menu.html' %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;新闻浏览量排行榜</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    <div id="map" style="height:500px;"></div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{#添加JS:当鼠标点击模块时,用于激活会员中心的商品收藏模块#}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#m-9').addClass('active');
        });
    </script>
<script src="{{ url_for('static',filename='echarts.min.js') }}"></script>
    <script>

       var data = {{ page_data|tojson }};
       xdata = []
       ydata = []
       for(j = 0,len=data.length; j < len; j++) {
            xdata.push(data[j].xdata)
            ydata.push(data[j].ydata)
       }

       	// 指定图表的配置项和数据
		var option = {
		    title : {
				text : "新闻浏览量排行榜",
                left: 'center',
                top: '3%'
		    },
		    //设置鼠标悬浮时的样式
		    tooltip : {},
		    legend : {
			    data : [ "浏览量" ],
			    right:60,
			    top:20
		    },
		    //设置图表的网格属性
		    grid : {
			    left : '3%',
			    right : '7%',
			    bottom : '3%',
			    //是否包含坐标轴和标签
			    containLabel : true
		    },
		    xAxis : {
			    type : 'value',   //数值轴
                name : '浏览量'
		    },
		    yAxis : {
			    type : 'category',     //类目轴
			    data : xdata,
			    name : '新闻ID'
		    },
		    //创建一个视觉映射组件
		    visualMap: {
                orient: 'vertical',   //视觉映射的方向
                //left: 'center',
                right: 20,
                top: 40,
                min: 290000,
                max: 380000,
                text: ['高', '低'],
                // 在图表中使用数据的第一列作为数据维度
                dimension: 0,
                inRange: {
                    color: ['#65B581', '#FFCE34', '#FD665F']
                }
            },
		    series : [ {
			    name : "浏览量",
			    type : 'bar',
			    data : ydata,
			    itemStyle : {
				    normal : {   //元素的普通状态
					    color : '#91c7ae'   //淡绿色
				    }
			    },
		    }]
	    };

    var myChart = echarts.init(document.getElementById('map'));
    myChart.setOption(option);

    </script>
{% endblock %}